/* ----------------------------------------------------------------------------------
 *
 * Our forms
 *
 * ----------------------------------------------------------------------------------
 */

/*
* ----------------------------------------------------------------------------------
* Bootstrap default overridin'
* ----------------------------------------------------------------------------------
*/
.form-control {
  background-color: $form-bg;
  background-image: none;
  border: 1px solid $form-border;
  border-radius: 4px;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  color: $black;
  display: block;
  height: 52px;
  font-size: 14px;
  line-height: 1.42857143;
  padding-bottom: 16px;
  padding-top: 16px;
  padding-right: 24px;
  padding-left: 24px;
  width: 100%;

  &:active,
  &:focus {
    background-color: $white;
    border: 1px solid $turquoise;
    outline: none;
  }
}

.form-accept {
  display: block;
  float: left;
  margin-top: 20px;
}

input[type="checkbox"] {
  font-size: 16px;
  margin: 3px 0 0;
}

.form-group .error {
  color: $black;
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 0.5rem;
}

.accept {
  font-size: 11px;
  font-weight: bold;
  float: right;
}

#invDetails .form-group .form-control {
  background-color: $white;
}





.modal-body {
  background: linear-gradient(120deg,
    rgba(0, 166, 156, 1) 25%,
    rgba(0, 166, 156, 0.75) 60%) !important;
  color: white;

  .close {
    padding: 4px;
  }
}


.logo-wrapper {
  padding-bottom: 30px;
}

span i.fa-chevron-down,
span i.fa.fa-chevron-up {
  color: white !important;
}

span>a.underline {
  text-decoration: underline;
  color: white;
}



@media (min-width: 768px) {
  .modal-dialog {
    width: 640px;
    margin: 30px auto;
  }
}

div.suggestions-list{

  position: absolute;
  border: 1px solid $grey-light;
  background: white;
  max-height: 230px;
  overflow: auto;
  border-radius: 4px;

option.suggestion{
  cursor: pointer;
  font-size: 16px;
  padding: {
    top: 10px;
    right: 10px;
    bottom: 10px;
    left:10px;
  }
}
}