.bg-grey{
  background-color: #f5f5f5;
}

.bg-white{
  background-color: white;
}


#pyramid {
  .content{
    img {
      max-width: 80px;
    }
  }
}

img.icon{
  padding: {
    top:20px;
    bottom:20px;
  }
}

// .maggan{
//   background: {
//     image: url(/static/real-estate-crm-b1e34f7f8cae0582334ae411445d2b2f.png)
//   }
// }