.lp-hero {
    background: linear-gradient(120deg, rgba(0, 166, 156, 1) 25%, rgba(0, 166, 156, 0.75) 60%) !important;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}


// Hero images desktop
.gradient-hero {
    background: linear-gradient(120deg, rgba(0, 166, 156, 1) 25%, rgba(0, 166, 156, 0.75) 60%) !important;
}
.lp-hero-sales {
    background-image: url("/assets/img/shared/solutions/sales/sales-crm.png");
}
.lp-hero-helpdesk{
    background-image: url("/assets/img/shared/solutions/helpdesk/helpdesk-crm.jpg");
}
.lp-hero-wholesale{
    background-image: url("/assets/img/shared/solutions/wholesale/wholesale-crm.jpg");
}
.lp-hero-consultancy{
    background-image: url("/assets/img/shared/solutions/consultancy/consultancy-crm.jpg");
}
.lp-hero-utility{
    background-image: url("/assets/img/shared/solutions/utility/utility-crm.png");
}
.lp-hero-real-estate{
    background-image: url("/assets/img/shared/solutions/real-estate/real-estate-crm.png");
}
.lp-hero-construction{
    background-image: url("/assets/img/shared/solutions/construction/construction-crm.jpg");
}
.lp-hero-membership{
    background-image: url("/assets/img/shared/solutions/membership/membership-crm.jpg");
}
.lp-hero-machine{
    background-image: url("/assets/img/shared/solutions/machine/machine-crm.png");
}
.lp-hero-crm{
    background-image: url("/assets/img/shared/screens/lime-crm-sveriges-basta-crm-system.png");
}

//----------------------------------------------------------------------------------------------//
.lp-hero-sales,
.lp-hero-helpdesk,
.lp-hero-solution,
.lp-hero-machine,
.lp-hero-wholesale,
.lp-hero-consultancy,
.lp-hero-utility,
.lp-hero-real-estate,
.lp-hero-construction,
.lp-hero-membership {
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}


.lp-hero-features {
    background-color: $white;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

.lp-hero-bg,
.solutions-const-bg {
    background-color: $turquoise;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}










#lp-hero .big-button {
    padding: 20px 45px 20px 45px;
    background: white;
    color: $turquoise;
    transition: color 0.3s ease-out, background-color 0.3s ease-out;
    &:hover{
        color: $white;
        background: $turquoise-dark;
    }
}


