.modal-backdrop{
background-color:#00000033;

}

#trialModal.lime-modal,
#demoModal.lime-modal {
  background-color: white;
  color: black!important;
  position: fixed;
  width: 40vw;
  height: auto;
  margin-top: 4%;
  display: block;
  top:0;
  z-index:1050;
}
