.modal-backdrop{
background-color:#00000033;

}

#trialModal.lime-modal,
#demoModal.lime-modal {

  background-color: white;
  color: black!important;

  display: block;
  position: fixed;
  top:0;
  z-index:1050;

  width: 90vw;
  height: auto;
  margin-top: 4%;

  input{
    width: 90%;
    height: 34px;
    border-radius:4px;
  }

}