


:root{
	font-size: 10px;
}




// Styles
body {
	color: $grey-dark;
	font-family: 'GalanoGrotesque', Arial, sans-serif;
	font-size: 10px;
}









.black {
	color: $black;
}

.grey-lighter {
	color: $grey-lighter;
}

.grey-light {
	color: $grey-light;
}

.grey-mid {
	color: $grey-mid;
}

.green {
	color: $green;
}

.orange {
	color: $orange;
}

.orange-mid {
	color: $orange-mid;
}

.red {
	color: $red;
}

.yellow {
	color: $yellow;
}

.turquoise {
	color: $turquoise;
}

.bg-black {
	background-color: $black;
}

.bg-blue-light {
	background-color: $blue-light;
}

.bg-grey-light {
	background-color: $grey-lighter;
}

.bg-grey-body {
	background-color: $grey-body;
}

.bg-green-lime {
	background-color: $green-lime;
}

.bg-orange {
	background-color: $orange;
}

.bg-pink {
	background-color: $pink;
}

.bg-turquoise {
	background-color: $turquoise2;
}

.bg-turquoise-light {
	background-color: $turquoise-light;
}

.bg-turquoise-dark {
	background-color: $turquoise-dark;
}

.bg-white {
	background-color: $white;
}

.bg-gradient {
	background: linear-gradient(120deg, rgba(0, 166, 156, 1) 25%, rgba(0, 166, 156, 0.75) 60%) !important;

}







// Margin push downs
.top5 {
	margin-top: 5px;
}

.top10 {
	margin-top: 10px;
}

.top20 {
	margin-top: 20px;
}

.top30 {
	margin-top: 30px;
}

.top40 {
	margin-top: 40px;
}

.top50 {
	margin-top: 50px;
}

.top60 {
	margin-top: 60px;
}

.top70 {
	margin-top: 70px;
}

.top80 {
	margin-top: 80px;
}

.top90 {
	margin-top: 90px;
}

.top100 {
	margin-top: 100px;
}

.top150 {
	margin-top: 150px;
}

.top200 {
	margin-top: 200px;
}

.top250 {
	margin-top: 250px;
}

.top300 {
	margin-top: 300px;
}

// Margin push ups
.btm5 {
	margin-bottom: 5px;
}

.btm10 {
	margin-bottom: 10px;
}

.btm20 {
	margin-bottom: 20px;
}

.btm30 {
	margin-bottom: 30px;
}

.btm40 {
	margin-bottom: 40px;
}

.btm50 {
	margin-bottom: 50px;
}

.btm60 {
	margin-bottom: 60px;
}

.btm70 {
	margin-bottom: 70px;
}

.btm80 {
	margin-bottom: 80px;
}

.btm90 {
	margin-bottom: 90px;
}

.btm100 {
	margin-bottom: 100px;
}

.madness {
	margin-bottom: 200px;
	margin-top: 100px;
}

// Margins misc
.ml10 {
	margin-left: 10px;
}

//paddings top
.p_top60 {
	padding-top: 60px;
}

.p_top80 {
	padding-top: 80px;
}

.p_top100 {
	padding-top: 100px;
}

//paddings bottom
.p_btm5 {
	padding-bottom: 5px;
}

.p_btm10 {
	padding-bottom: 10px;
}

.p_btm20 {
	padding-bottom: 20px;
}

.p_btm30 {
	padding-bottom: 30px;
}

.p_btm40 {
	padding-bottom: 40px;
}

.p_btm50 {
	padding-bottom: 50px;
}

.p_btm60 {
	padding-bottom: 60px;
}

.p_btm70 {
	padding-bottom: 70px;
}

.p_btm80 {
	padding-bottom: 80px;
}

.p_btm90 {
	padding-bottom: 90px;
}

.p_btm100 {
	padding-bottom: 100px;
}

.p_20 {
	padding: 20px;
}