// Colors
$black: #505050;
$blue-light: #00beff;
$green: #00b386;
$green-go: #00bd8e;
$green-lime: #85c436;
$grey-body: #f5f5f5;
$grey-mid: #999999;
$grey-dark: #555555;
$grey-darker: #333333;
$grey-light: #dbdbdb;
$grey-lighter: #f6f6f6;
$form-bg: #f8f8f8;
$form-border: #e8e8e8;
$link-blue: #4285f4;
$link-blue-dark: #2b6dd6;
$orange: #ef6508;
$orange-mid: #ffa319;
$pink: #ff3195;
$pink-light: #ff78ba;
$purple: #D70068;
$red: #e84343;
$turquoise: #00b3a7;
$turquoise1: #00a69c;
$turquoise2: #00a69cbf;
$turquoise-light: #00ccbe;
$turquoise-dark: #008077;
$yellow: #FDBC00;
$white: #FFFFFF;


$font-size: 16px;
$standard-line-height:24px;

